html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f0f0f4;
}
.column-link{
    text-decoration: none;
    color: black;
}

.contact{
    color: black;
    text-decoration: none;
}

.contact:hover{
    text-decoration: underline;
}


nav{
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 62px;
}

nav ul{
    display: flex;
    padding: 0; 
    list-style: none;
    justify-content: space-between;
}

.welcome-text{
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}

.welcome-banner{

    color: rgb(255, 255, 255);
    background-image: url("../../resources/images/staring_at_ocean.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem; 
    display: flex; 
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto; 
    max-width: 1073px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 200px;
    margin: auto; 
}
.columns{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    max-width: 1000px
}

.images{
    display: flex; 
    justify-content: center;
    margin: auto; 
}

.image-container {
    overflow: hidden; 
    margin: 10px; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}
.col{
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px #ffffff solid; 
    border-radius: 20px;
    margin: 20px 20px;
    padding: 10px 10px;
    transition: transform 2s ease, box-shadow 0.3s ease;
}

.col:hover{
    box-shadow: 10px 10px 5px rgb(62, 60, 60);
    transform: scale(1);
    
}
.photo:hover{
    box-shadow: 10px 10px 5px rgb(62, 60, 60);
    transform: scale(1);
}

.card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 500px;
    height: 600px;
    padding:20px 20px 20px 20px;
    background-color: #ffffff;
    border: 2px solid #ffffff
}

.picture-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
.home-page-images{
    height: auto;
    width: 600px;
    height: 80px;
}

.center-image {
    display: flex;
    margin-right: 30px;
}

.city-image{
    width:300px;
    margin: auto;
}

.image-text{
    margin: auto;
}

.photos-card{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    width:1500px;
}
.image-carousel{
    display: flex; 
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.slider-image{
    height: 300px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding:20px 20px 20px 20px
    
}
.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    transition: transform 2s ease, box-shadow 0.3s ease;
}

.caption{
    margin: auto;
}
.centre{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .about{
        margin-right: 50px;
        margin-left: 30px;
    }

    .columns{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 300px;
        height: 700px;
    }
    .picture-text{
        display: flex;
        flex-direction: column; 
    }
}
.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
}

@media only screen and (max-width: 1400px){
    .image-carousel{
        display: flex;
        flex-direction: column;
    }

    .photo{
        width: 350px;
        margin: auto;
        margin-top: 10px;
    }
    .slider-image{
        margin: auto;
        margin-top: 10px;
    }
}